<%- include("template/header",{titulo:'Mental Analytica',estilo:'./css/estiloIndex.css'})%>
<%- include("template/navbar",{link:'/perfil',texto})%>
<div class="container ml-5 w-50" id="texto">
    <h1 class="text-center mt-5 ">Pacientes</h1>
    <table class="table mt-5">
        <thead>
        
          
            <%for(var i = 0;i<pacientes.length;i++){%>
                <tr>
                
                <th scope="col"><%=pacientes[i].nombre + ' ' + pacientes[i].appat%><br></th>
                <th scope="col"><%=pacientes[i].correo%></th>
                <th>
                    <a href="/borrarPaciente/<%=pacientes[i].Id_usuario%>">
                        <button class="btn btn-danger"><strong>X</strong></button>
                    </a>
                </th>
                
                </tr>
            <%}%>
          
        </thead>
        </table>
</div>
<%- include("template/footer")%>